:root {
    --BgNav: #FBFBFB;
    --white: #ffffff;
    --black: #000000;
    --hover_to_dark: #583002;
    --icons_hover: #E2C275;
    --text_brown_dark: #351d01;
    --Body: #fcf4d8;
    --Body1: #ddbb93;
}
.Body-Create-Product{
    background-color: #ddbb93;
    .Cont-Create-Product{
        width: 80%;
        height: 70%;
        box-shadow: 22px 30px 15px rgba(226, 194, 117, 0.01), 13px 17px 13px rgba(226, 194, 117, 0.05), 6px 7px 9px rgba(226, 194, 117, 0.09), 1px 2px 5px rgba(226, 194, 117, 0.1), 0px 0px 0px rgba(226, 194, 117, 0.1);
        background-color: var(--white);
        border-radius: 7px;
        .cont-img{
            width: 40%;
            height: 100%;
            .Img-item{
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 7px 0px 0px 7px;
                -webkit-filter: grayscale(70%); /* Safari 6.0 - 9.0 */
                filter: grayscale(70%);
            }
        }
        .Body-form-product{
            .cont-btn-product{
                display: flex;
                flex-direction: row;
                position: absolute;
                bottom: 5%;
                right: 5%;
                button{
                    margin: 0px 10px;
                }
            }
        }
    }
}